@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700');

.rm-margin-children(){
	> *:first-child{
		margin-top: 0;
		> *:first-child{
			margin-top: 0;
			> *:first-child{
				margin-top: 0;
			}
		}
	}
	> *:last-child{
		margin-bottom: 0;
		> *:last-child{
			margin-bottom: 0;
			> *:last-child{
				margin-bottom: 0;
			}
		}
	}
}

body {
	font-weight: 400;
}

small {
	text-transform: uppercase;
	color: #999;
}

.btn .caret {
	border-top-color: @white;
}

/************* Header *******************************************************/

.bg-color-one {
	background-color: @color_one;
}

.bg-color-two {
	background-color: @color_two;
}

.bg-color-three {
	background-color: @color_three;
}

.bg-color-four {
	background-color: @color_four;
}

.bg-color-five {
	background-color: @color_five;
}

#member-registration .validate{
	margin-bottom: 0;
}

.category-module.nav li{
	overflow: hidden;
}
.pagenav.disabled a{
	color: gray;
}

#logo.span12 {
	text-align: center;
}

.pagination .counter {
    color: #999999;
	margin-left: 10px;
	line-height: 30px;
}

dl.article-info{
	font-family: @sansFontFamily;
	text-transform: uppercase;
	padding: 0 0 1rem;

	dd {
		margin-left: 0;
		margin-right: 5px;

		[class*="icon-"] {
			display: none;
		}
	}
}

.page-header,
.page-header h2 {
	padding-bottom: 0;
}

.page-header {
    border-bottom: 0 none;
    .m-0;
    padding-bottom: 0;
}

.breadcrumbs,
.breadcrumb{
	background-color: transparent;
}
.breadcrumb{
	padding: 0;

	> li {
		text-shadow: none;

		&> .divider{
			color: @textColor;
		}
	}
}
.filter-search.alert.alert-info{
	background-color: #f5f5f5;
	border: 0 none;
}
.breadcrumbs .icon-caret-right:before,
.breadcrumb .icon-caret-right:before{
	font-family: FontAwesome;
	content: ">";
}
#breadcrumbs{
	margin-bottom: 0;
	.module{
		padding: 0;
	}
}

a:hover,
a:focus{
	text-decoration: none;
}
.icons-left{
	float:none;
}

.hero-unit{
	.box-sizing(border-box);
	font-size: @baseFontSize + 4;
	line-height: @baseLineHeight + 4;

	a {
		color: @white;
		text-decoration: underline;

		&:hover, &:focus {
			text-shadow: 0 1px 2px @grayDark;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	p,
	div {
		color: @white;
		margin-bottom: 20px;
	}
}

footer .hero-unit {
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
}

.hero-unit {

	.footer1,
	.footer2 {
		margin-bottom: 10px;
	}
}

#featured{
	.rm-margin-children();
}

.border-double {
	border-bottom: 3px solid @color_five;
	border-top: 3px solid @color_five;
	position: relative;

	&:after, &:before {
		content: "";
		left: 0;
		position: absolute;
		width: 100%;
	}

	&:before {
		border-top: 1px solid @color_five;
		top: 1px;
	}

	&:after {
		border-top: 1px solid @color_five;
		bottom: 1px;
	}
}

h1, h2, h3, h4, h5, h6{
	letter-spacing: 0;
	margin: 0 0 1rem;
	font-weight: 700;
}

p.readmore{
	clear: none;
	float: none;

	a.readmore {
		float: none;
		text-transform: uppercase;
	}
}

aside input,
aside textarea,
aside .uneditable-input{
	width: auto;
}
.readmore + *{
	clear: both;
	.m-t-1;
}

#top_primary {

	[class*="module"]:last-child {
		margin-bottom: 0;
	}

	.form-inline {
		margin-top: 6px;

		input[type="image"] {
			width: 32px;
			height: 32px;
		}
	}
}

[class*="module"] {
	margin-bottom: 2rem;

	&:last-child {
		margin-bottom: 2rem;
	}
}

.moduletable_ms1,
.module_ms1,
.moduletext_ms1{
	background-color:@color_four;
	.p-t-1;
	.p-r-1;
	.p-b-1;
	.p-l-1;
}

.moduletable_ms1 h3,
.module_ms1 h3,
.moduletext_ms1 h3
{
	.p-t-1;
	color: @color_one;
	border-top:8px solid @color_one;
}
.moduletable_ms2,
.module_ms2,
.moduletext_ms2 {
	.border-double;
	.p-t-1;
	.p-b-1;
	.rm-margin-children();
}
.moduletable_ms2 a,
.module_ms2 a,
.moduletext_ms2 a{
	text-decoration:underline;
}
.moduletable_ms3,
.module_ms3,
.moduletext_ms3{
	align-self: baseline;
	border-bottom: 1px solid #CCCCCC;
	.p-b-1;
	.rm-margin-children();
}

aside {
	.moduletable_ms3:last-child {
		border: 0;
	}
}

.moduletable_ms3 h3,
.module_ms3 h3,
.moduletext_ms3 h3{
	color: #666;
	font-family: @sansFontFamily;
	text-transform: uppercase;
	font-size:13px;
	font-weight: bold;
}
.nav + *{
	margin-top: 20px;
}

#mod-search-searchword {
    border-radius: 0 0 0 0;
    margin-bottom: 0;
}

.btn {
	border-radius: 2px 2px 2px 2px !important;
	color: @color_two;
	text-shadow: none;

	&:hover, &:focus {
		color: @color_two;
	}
}

.well {
	border: 0;
	background-color: #ddd;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-shadow: none;
	}
}

::selection{
		background-color: #E5E6E6;
}
::-moz-selection{
	background-color: #E5E6E6;
}

#header form,
#header .search input[type="image"],
#header #mod-search-searchword{
	margin-bottom: 0;
}

// ----------------------------------------------------------------------------------
// TABS

// ----------------------------------------------------------------------------------

p.img_caption {
	background: transparent;
	color: #444;
	font-family: @sansFontFamily;
}

.pager a, .pager span,
.pager li > a, .pager li > span {
	background-color: transparent;
	border: 0;
	border-bottom: 3px solid black;
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	color: black;
	position: relative;
	.transition(color 0.2s linear);
}
.pager a:hover, .pager span:hover{
	background-color: transparent;
	border-bottom: 3px solid #555;
	color: #555;
}
.pager a::before,
.pager span::before {
	content: '';
	position: absolute;
	top: 100%;
	border-bottom: 1px solid black;
	left: 0;
	height: 4px;
	width: 100%;
}
.pager a:hover::before,
.pager span:hover::before{
	border-bottom: 1px solid #555;
}
// Joomla

.readmore [class*="icon"]{
	display: none;
}

// Shackslides

body {
	 #sliderNav{
		a{
			font-size: 14px;
			line-height: 12px;
		}
	}
	.slidermanDescriptionText{
		position: static !important;
		top: 0 !important;
	}
}

/************* Menus *******************************************************/

.navbar-inverse .nav > .active {

	&> a,
	&> a:hover,
	&> a:focus {
		color: @white;
	}
}

.navbar-inner {
	border: 0;
	box-shadow: 0 0;
	padding-left: 0;
	padding-right:0;

	.brand{
		margin-left: 0;
	}

	form{
		margin-left: 20px;
	}

	.nav + *{
		margin-top: 5px;
	}
}

.navbar{
	.nav {
		> li{
			> a{
				text-shadow: none;
			}
		}
	}
	.divider-vertical{
		margin: 0;
		border-left-color: @color_five;
		border-right-color: @color_five;
	}
}

.dropdown-menu,
.hero-unit {
	.border-radius(0);
}

#bottom-menu {
	background: rgba(0, 0, 0, 0.3);

	.navbar .nav > li > a {
		color: @white;

		&.hidden-text > [class*="icon-"] {
			color: @white;
		}
	}
}

#toolbar,
#menu {

	.navbar-inverse .nav > li.dropdown {

		&.open > .dropdown-toggle,
		&.active > .dropdown-toggle,
		&.open.active > .dropdown-toggle {
			color: @white;

			.caret {
				border-bottom-color: @white;
				border-top-color: @white;
			}
		}
	}
}

#toolbar {

	.navbar-inverse .navbar-inner {
		background: @color_one;

		.nav > li {

			&.dropdown {

				&.open.active > .dropdown-toggle,
				&.active > .dropdown-toggle,
				&.open > .dropdown-toggle {
					background: darken(@color_one, 15%);
				}
			}

			&> a:hover,
			&> a:focus {
				background: darken(@color_one, 15%);
			}
		}
	}
}

// ----------------------------------------------------------------------------------
// Shackslides 3

#featured , #above-content {
    div.jss-slider .jss-navigation {
        .jss-navigation-buttons {
            [class*='owl-'] {
              	border-color: @white;
                border-width: 4px;
                height: 23px;
                width: 23px;
            }
        }

        .jss-navigation-dots {
            .owl-dot {
                > div {
                    .box-shadow(none);
                    background-color: @color_one;
                    height: 15px;
                    width: 15px;
                }

                &.active {
                    > div {
	                    background-color: darken(@color_one, 25%);

                        &:after {
                            background-color: transparent;
                            content: none;
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.items-row, [class*="leading-"]{
	.m-b-1;

	&:last-child {
		.m-b-0;
	}
}

.items-leading {
	.m-b-1;
}

[class*="newsflash"] {
	.clearfix();

	.readmore{
		color: lighten(@color_five, 30%);

		&:hover, &:focus {
			color: @textColor;
		}
	}
}

.item-title {
	margin-bottom: 1rem;
}