/* Phones and tablets */
@media (max-width: 979px){
	.nav,
	.navbar-inner,
	.nav .navbar-inner,
	.navbar .nav,
	.navbar .nav .navbar-inner,
	.nav-collapse .nav {
		margin: 0 auto;
		border: 0;
			.nav-collapse {
				border: 0;
			}
			.btn-navbar {
			background-color: transparent;
			background-image: none;
			filter: none;
			border: 0;
			.icon-bar {
				width: 40px;
			}
		}
		li {
			> a {
				border: 0;
				text-align: center;
				color: @black;
				.caret {
					border-top-color: @black;
				}
				[class^="icon-"],
				[class*=" icon-"] {
					color: @black;
				}
				&:hover,
				&:focus {
					background-color: @navbarLinkBackgroundHover;
					color: @navbarLinkColorHover;
					.caret {
						border-top-color: @navbarLinkColorHover;
					}
					[class^="icon-"],
					[class*=" icon-"] {
						color: @navbarLinkColorHover;
					}
				}
			}
			&.dropdown,
			.dropdown-menu {
				li {
					> a {
						border: 0;
						color: @black;
						.caret {
							border-top-color: @black;
						}
						[class^="icon-"],
						[class*=" icon-"] {
							color: @black;
						}
					}
				}
			}
		}
	}

	.navbar-inverse {
		.nav,
		.navbar-inner,
		.nav .navbar-inner,
		.navbar .nav,
		.navbar .nav .navbar-inner,
		.nav-collapse .nav {
			.icon-bar {
				background-color: @color_one;
			}
			li {
				> a {
					color: @navbarInverseLinkColor;
					.caret {
						border-top-color: @navbarInverseLinkColor;
					}
					[class^="icon-"],
					[class*=" icon-"] {
						color: @navbarInverseLinkColor;
					}
					&:hover,
					&:focus {
						background-color: @navbarInverseLinkBackgroundHover;
					}
				}
				&.dropdown,
				.dropdown-menu {
					li {
						> a {
							color: @navbarInverseLinkColor;
							.caret {
								border-top-color: @navbarInverseLinkColor;
							}
							[class^="icon-"],
							[class*=" icon-"] {
								color: @navbarInverseLinkColor;
							}
						}
					}
				}
			}
		}
	}

	.navbar-transparent {
		.nav,
		.navbar-inner,
		.nav .navbar-inner,
		.navbar .nav,
		.navbar .nav .navbar-inner {
			.icon-bar {
				background-color: @color_two;
			}
		}
	}

	.module {
		.nav {
			li {
				> a {
					text-align: left;
					color: @linkColor;
					.caret {
						border-top-color: @linkColor;
					}
					[class^="icon-"],
					[class*=" icon-"] {
						color: @linkColor;
					}					
				}
			}
		}
		.tabbable {
			.nav {
				> li {
					> a {
						color: @white;
						.caret {
							border-top-color: @white;
						}
						[class^="icon-"],
						[class*=" icon-"] {
							color: @white;
						}					
					}
					&.active {
						> a {
							color: @black;
							.caret {
								border-top-color: @black;
							}
							[class^="icon-"],
							[class*=" icon-"] {
								color: @black;
							}
							&:hover {
								color: @white;
								.caret {
									border-top-color: @white;
								}
								[class^="icon-"],
								[class*=" icon-"] {
									color: @white;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Tablets */
@media(min-width:768px) and (max-width:979px){
	.row .module_ms1.span12,
	.row .module_ms2.span12 {
	    width: 704px !important;
	}
	.row .module_ms1.span11,
	.row .module_ms2.span11 {
	    width: 642px !important;
	}
	.row .module_ms1.span10,
	.row .module_ms2.span10 {
	    width: 580px!important;
	}
	.row .module_ms1.span9,
	.row .module_ms2.span9 {
	    width: 518px!important;
	}
	.row .module_ms1.span8,
	.row .module_ms2.span8 {
	    width: 456px!important;
	}
	.row .module_ms1.span7,
	.row .module_ms2.span7 {
	    width: 394px!important;
	}
	.row .module_ms1.span6,
	.row .module_ms2.span6 {
	    width: 332px!important;
	}
	.row .module_ms1.span5,
	.row .module_ms2.span5 {
	    width: 270px!important;
	}
	.row .module_ms1.span4,
	.row .module_ms2.span4 {
	    width: 208px!important;
	}
	.row .module_ms1.span3,
	.row .module_ms2.span3 {
	    width: 146px!important;
	}
	.row .module_ms1.span2,
	.row .module_ms2.span2 {
	    width: 84px!important;
	}
	.row .module_ms1.span1,
	.row .module_ms2.span1 {
	    width: 22px!important;
	}
	
}

/* Phones */
@media(max-width:767px){
	.row .module_ms1[class*="span"],
	.row .module_ms2[class*="span"]{
		width: auto !important;
	}	
	#header{
		text-align: center;
	}
	.module, .moduletable, .moduletext, #top > div {
		padding: 0;
	}
	[class*="span"], .row-fluid [class*="span"] {
		margin-bottom: 0;
	}
	.moduletable, .moduletable_ms1, .moduletable_ms2, .moduletable_ms3, .moduletext, .moduletext_ms1, .moduletext_ms2, .moduletext_ms3, .module, .module_ms1, .module_ms2, .module_ms3 {
		margin-bottom: 0;
	}
	#toolbar, #header, #menu, #featured, #grid-top, #main-content, #above-content, #breadcrumbs, #grid-bottom, #grid-bottom2, #bottom-menu {
		margin-bottom: 0;
	}
	.pagination .counter {
		display: none;
	}
}

/* Non-wide screens */
@media(max-width:1200px){
	.module_ms2.pull-left.col-one,
	.module_ms2.pull-right.col-two{
		width: auto;
	}
}

/* Wide screens */
@media(min-width:1200px){
	aside #mod-search-searchword{
		clear: both;
		display: block;
	}
	
	.row .module_ms1.span12,
	.row .module_ms2.span12  {
	    width: 1150px !important;
	}
	.row .module_ms1.span11,
	.row .module_ms2.span11 {
	    width: 1050px !important;
	}
	.row .module_ms1.span10,
	.row .module_ms2.span10  {
	    width: 950px!important;
	}
	.row .module_ms1.span9,
	.row .module_ms2.span9 {
	    width: 850px!important;
	}
	.row .module_ms1.span8,	
	.row .module_ms2.span8 {
	    width: 750px!important;
	}
	.row .module_ms1.span7,
	.row .module_ms2.span7 {
	    width: 650px!important;
	}
	.row .module_ms1.span6,
	.row .module_ms2.span6 {
	    width: 550px!important;
	}
	.row .module_ms1.span5,
	.row .module_ms2.span5 {
	    width: 450px!important;
	}
	.row .module_ms1.span4,
	.row .module_ms2.span4 {
	    width: 350px!important;
	}
	.row .module_ms1.span3,
	.row .module_ms2.span3 {
	    width: 250px!important;
	}
	.row .module_ms1.span2,
	.row .module_ms2.span2 {
	    width: 150px!important;
	}
	.row .module_ms1.span1,
	.row .module_ms2.span1 {
	    width: 50px!important;
	}	
}