@media (max-width: 979px){
	#toolbar .nav-collapse .nav > li > a, 
	#toolbar .nav-collapse .dropdown-menu a{
		color: white;
	}
	.navbar-inverse .nav-collapse .nav > li > a:hover,
	.navbar-inverse .nav-collapse .dropdown-menu a:hover{
		background-color:#336933;
	}
	.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
		background-color: #339633;
	}
	#toolbar .dropdown-menu a{
		border-bottom: 1px solid #336933;
	}
	.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, 
	.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
	.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle{
		background-color: #339633;
	}
}